```{=html}
<div class="publications">
  <ul class="list">
  <% for (const item of items) { %>
  <li class="paper" <%= metadataAttrs(item) %>>
    <div class="metadata">          
      <p class="listing-date"><%= item.date %></p>
    </div>
    <div class="body">
      <p class="listing-title">
        <a href="<%= item.path %>"><%= item.title %></a>
      </p>
      <% if (item.author) { %>
      <p class="listing-author"><%= item.author %></p>
      <% } %>
      <p class="citation">
        <% if (item.publication) { %>
          <em class="listing-publication"><%= item.publication %>,</em>
            <% if (item.volume) { %><em><%= item.volume %></em><% if (item.issue) { %>(<%= item.issue %>),<% } else {%>,<% } %>
            <% if (item.pages) { %>
              <%= item.pages %>.
            <% } %>
          <% } %>
        <% } %>
      </p>
      <% if (item.links) { %>
        <ul class="publication-links">
          <% for (const link of item.links) { %>
            <li class="publication-link btn btn-outline-primary">
              <a href="<%= link.url %>">
                <i class="bi bi-<%= link.icon %>" aria-label="<%= link.icon %>"></i>
                <%= link.text %>
              </a>
            </li>
          <% } %>
        </ul>
      <% } %>
    </div>
  </li>
  <% } %>
  </ul>
</div>
```