```{=html}

<div class="quarto-listing quarto-listing-container-default">
  
  <div class="list quarto-listing-default"> 

    <% for (const item of items) { ;%> 
    
    <div class="quarto-post image-right">

    <% if (item.image) { %>
      <div class="thumbnail">
        <a href="<%- item.path %>" class="no-external">
            <img alt="<%= item.title %>" src="<%= item.image %>" class="thumbnail-image" style="height: 200px;">
        </a>
      </div>
    <% } %>
    
    <div class="body post-contents">
            
      <div class="listing-title">
        <b>
        <%= item.title %><br> 
        </b>
      </div>

      <div class="listing-subtitle">
        <%= item.subtitle %><br> 
      </div>
      
      <div class="listing-description">
        <%= item.description %><br> 
      </div>
      
    </div>  
  </div>  
</a>
      
</div>
  
<% } %>
  
</div>
</div>

```
